* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Verdana, Calibri, 'Trebuchet MS', sans-serif;

  --dashboard-text-size: 1.6rem;
  --sidebar-background: #1785d6;
  --sidebar-font-size: 1.3rem;
  --sidebar-font-weight: 700;
  --sidebar-text-color: white;

  --main-content-background: #e1e6f0;

  --username-size: 0.9rem;
  --username-weight: 600;

  --greeting-size: 0.8rem;
  --greeting-weight: 600;

  --user-details-size: 1.3rem;
  --user-details-weight: 600;

  --button-bg-color: #1785d6; 
  --button-text-color: white;
  --button-text-size: 0.9rem;
  --button-text-weight: 600;

  --content-title-size: 1.2rem;
  --content-title-weight: 550;

  --content-color: #555555;

  --trending-user-size: 0.9rem;
  --trending-user-weight: 500;

  --trending-size: 0.9rem;
  --trending-weight: 400;

  --tile-shadow: #ccd0d9;
}

body {
  background-color: var(--main-content-background);
}

.container {
  display: grid;
  grid-template-columns: max-content 3fr;
  row-gap: 8px;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text-color);
  font-weight: var(--sidebar-font-weight);
  font-size: var(--sidebar-font-size);
  padding: 32px;

  display: grid;
  grid-template-rows: max-content max-content max-content;
  row-gap: 64px;
}

.dashboard {
  font-size: var(--dashboard-text-size);
}
.navigation, .branding {
  display: grid;
  row-gap: 24px;
}

.header {
  background-color: white;
  padding: 24px 64px;
  box-shadow: 12px 0 rgba(170, 180, 194, 0.2);
}

.first-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
}

.second-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  justify-items: right;
}

#search-icon {
  margin-right: 16px;
  height: 24px;
  vertical-align: middle;
}

#search-bar {
  background-color: var(--main-content-background);
  border-radius: 16px;
  padding: 16px;
  margin-right: 98px;
}

#bell-icon {
  width: 24px;
}

#profile-icon {
  width: 32px;
  height: auto;
  margin: 16px;
  border-radius: 32px;
}

#username {
  font-size: var(--username-size);
  font-weight: var(--username-weight);
  justify-self: left;
}

#greeting {
  font-size: var(--greeting-size);
  font-weight: var(--greeting-weight);
}

#user-details {
  font-size: var(--user-details-size);
  font-weight: var(--user-details-weight);
}

#profile-picture {
  width: 72px;
  height: auto;
  margin-right: 16px;
  border-radius: 64px;

}

#welcome-text {
  justify-self: left;
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);

  padding: 8px 24px;
  border-radius: 16px;
  margin: 8px;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
  padding: 32px 16px 48px 16px;
  /* align-items: stretch; */
}

.projects-container {
  grid-row: 1/3;
}

.content-title {
  font-size: var(--content-title-size);
  font-weight: var(--content-title-weight);
  margin-bottom: 8px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.project {
  background-color: white;
  border-radius: 8px;
  padding: 32px 24px;
  height: min(120px, auto);
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

.project-title {
  font-size: var(--content-title-size);
  font-weight: var(--content-title-weight);
}

.project-shortcuts {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-gap: 12px;
}

.project-shortcuts span:first-child {
  grid-column: 2;
}

.announcements-board {
  background-color: white;
  padding: 16px;
}

.announcements {
  background-color: purple;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  gap: 1px;
}

.announcement {
  background-color: white;
  padding: 16px;
}

.trendings {
  background-color: white;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 8px;
  padding: 8px;
}

.trending {
  background-color: white;
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 0px 16px;
  margin: 24px 0px;
}

.user {
  font-size: var(--trending-user-size);
  font-weight: var(--trending-user-weight);
  align-self: end;
}

.trending-user-pic {
  background: #989898;
  grid-row: 1/3;
  height: 32px;
  width: 32px;
  border-radius: 100px;
  justify-self: right;
  align-self: center;
}

.content {
  font-size: var(--trending-size);
  font-weight: var(--trending-weight);
  color: var(--content-color);
}


.card {
  box-shadow: 5px 5px 5px var(--tile-shadow);
}

.text {
  vertical-align: middle;
  margin-left: 16px;
}

.icon {
  vertical-align: middle;
  height: 24px;
  filter: invert(100%);
}

.dashboard .icon {
  height: 48px;
}

.dashboard .text {
  margin: 0px;
}

.project-icon {
  height: 24px;
}

